@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
    		box-sizing:border-box;
}
a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    
}
ul, ol{
	list-style: none;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
}

/* defalut css */
.pt10{
	padding-top: 10px;
}
.button-theme {
	background: linear-gradient(#439ed5, #378acd);
	box-shadow: 0 7px 7px -3px #222;
	color: #fff;
	
	font-weight: 600;
	margin-bottom: 15px;
	padding: 10px 15px;
	text-align: center;
	border-radius: 5px;
}
.button-block{display: block;}
.button-round{border-radius: 30px;}
.button-link {
	border-bottom: 1px solid #fff;
	color: #fff;
	display: inline-block;
	padding: 10px 0 0;
	text-align: center;
}
.container{
	width: 980px;
	margin: auto;
}

.line{
	margin-left: -15px;
	margin-right: -15px;
	overflow:hidden;
}

.column-12{width:100%;}
.column-11{width:91.66%;}
.column-10{width:83.33%;}
.column-9{width:75%;}
.column-8{width:66.66%;}
.column-7{width:58.33%;}
.column-6{width:50%;}
.column-5{width:41.66%;}
.column-4{width:33.33%;}
.column-3{width:25%;}
.column-2{width:16.66%;}
.column-1{width:8.33%;}
.pipe-5{width: 20%;}

.column-12, 
.column-11,
.column-10,
.column-9,
.column-8,
.column-7,
.column-6,
.column-5,
.column-4,
.column-3,
.column-2,
.column-1,
.pipe-5{
	float:left;
	padding-left: 15px;
	padding-right: 15px;
}


.fr{float: right;}
.fl{float: left;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.text-gray{color: #a0a0a0}

/* header css */
.header{
	width: 100%;
	background: #4C5B66;
	padding: 50px 0 0 0;
	margin-bottom: -4px;
}
.header .logo {
 	float: left;
}
.header nav{}
.header nav ul{}
.header nav ul li {
 	float:left;
}
.header nav ul li a {
	font-size: 14px;
	color: #fff;
	display: block;
	padding: 5px 15px;
	margin-left: 15px;
	border-radius: 15px;
	border-bottom: 1px solid transparent;
}
.header nav ul li a:hover{
	background: linear-gradient(#323b42, #45515a);
	border-bottom: 1px solid gray;
}

.header .slider{
	margin-top: 60px;
	color: #fff;
}
.header .slider .item{}
.header .slider .item img{}
.header .slider .item h1{
	font-size: 40px;
	margin-top: 60px;
}
.header .slider .item p {
	line-height: 30px;
	margin-top: 15px;
}
.header .button-group{
	margin-top: 30px;
}
/* sponsor css */
.sponsor{
	width: 100%;
	background: #EBEBEB;
	overflow: hidden;
	padding: 15px 0;
}
.sponsor ul{}
.sponsor ul li{
	float: left;
	margin-right: 205px;
}
.sponsor ul li:last-child{
	margin-right: 0;
}
.sponsor ul li i{
	color: #BDBDBD;
	font-size: 36px;
}
.sponsor ul li a:hover{}

/* services css */
.services{
	padding: 50px 0;
	background:linear-gradient(#F3F3F3, #fff);
}
.services .single-services{
	margin-bottom: 30px;
}
.services .single-services i {
	border: 3px solid #8395a2;
	border-radius: 100%;
	color: #8395a2;
	font-size: 60px;
	height: 130px;
	line-height: 130px;
	margin-bottom: 30px;
	margin-top: 30px;
	width: 130px;
}
.services .single-services h3{
	color:#8395a2;
	font-size: 20px;
}
.services .single-services p {
	color: #a0a0a0;
	margin-top: 15px;
	margin-bottom: 30px;
}
.services .single-services a{}

/* portfolio css */
.portfolio{
	padding: 30px 0;
}
.portfolio .title{}
.portfolio .title h3{
	font-size: 20px;
	color:#4c5b66;
	margin-bottom: 20px;
}
.portfolio .title i{
	color: #9AC531;
}
.portfolio .title span{}
.portfolio .single-portfolio{
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
	margin-top: 5px;
	overflow: hidden;
	padding: 3px;
}
.portfolio .single-portfolio img{
	height: 160px;
	width: 100%;
	margin-bottom: -4px;
}

/* blog css */
.blog{
	padding: 60px 0;
}
.blog .blog-area{}
.blog .blog-area h3{
	font-size: 20px;
	color:#4c5b66;
	margin-bottom: 20px;
}
.blog .blog-area h3 i{}
.blog .blog-area h3 span{}
.blog .single-blog {
	margin-bottom: 30px;
	overflow: hidden;
	margin-top: 5px;
	height: 100px;
}
.blog .blog-area .single-blog img {
	background: #fff none repeat scroll 0 0;
	border-radius: 2px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	height: 94px;
	padding: 3px;
	width: 100%;
}
.blog .blog-area .single-blog h4{
	color: #5c5c5c;
}
.blog .blog-area .single-blog p {
	color: #888888;
	line-height: 20px;
}
.blog .blog-area .single-blog p a{
	padding: 0;
	color: #3c92d0;
}
.blog .blog-area .single-blog small{
	color: #b0b0b0;
}
.blog .twitter-feed{}
.blog .twitter-feed h3{
	font-size: 20px;
	color:#4c5b66;
	margin-bottom: 20px;
}
.blog .twitter-feed .single-twitter-feed{
	margin-bottom: 30px;
}
.blog .twitter-feed .single-twitter-feed p{
	color: #888888;
  	line-height: 20px;
}
.blog .twitter-feed .single-twitter-feed b{}
.blog .twitter-feed .single-twitter-feed a{
	color: #3c92d0;
}
.blog .twitter-feed .single-twitter-feed small{
	color: #b0b0b0;
}

/* footer css */
footer{}
footer .footer{}
footer .footer .copyright{}
footer .footer .copyright p{}
footer .footer .copyright a{}
footer .footer .footer-social{}
footer .footer .footer-social a{}
footer .footer .footer-social i{}
footer .footer .footer-social i.fa-facebook{background: ;}
footer .footer .footer-social i.fa-twitter{background: ;}
footer .footer .footer-social i.fa-linkedin{background: ;}
footer .footer .footer-social i.fa-dribbble{background: ;}






















